<!DOCTYPE html>
<html>
  <head>
    <title>ProductsCatalogChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>   
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="col col-6">
          2 of 3 (wider)
          <%= yield %>
        </div>
        <div class="col">
          white column
        </div>
      </div>
    </div>


    <div class="container">
    </div>

  </body>
</html>
